<!--
  Generated template for the Report page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-grid>
      <ion-row>
      <ion-col col-9>
    <button ion-button menuToggle>
          <img src="../../assets/img/hackerton.png" />
    </button></ion-col>
    <ion-col>
        <button color="buttonColor" class="button-top" (click)="getSignin()" >
          Sign In
        </button>
      </ion-col>
      </ion-row>
      </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="padding">
<h2>Report</h2>
<div class="box">
<select class="form-item" [(ngModel)]="Incident" >
  <option>
Choose Incident Type
  </option>
  <option>
    Human Trafficking
  </option>
  <option>
    Rape
  </option>
<option>
  Details
  </option>
</select >
<br />

<ion-item>
    <ion-textarea placeholder="Describe Events" [(ngModel)]="events" ></ion-textarea>
  </ion-item>
<button ion-button full  color="buttonColor"  (click)="SendReport()">Report</button>
</div>
<h2>More about Saly</h2>
<p>Please your current location will be stored</p>
</div>
</ion-content>
