page-home {
.wrapper{
     position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#map{
    height: 100%;
    width:100%;
}
.title-top{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
.button-top{
background-color: #EAD61C;
padding:5px;
}

.search-icon{
    position:absolute;
    top:20px;
    z-index: 999;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:12px;
    text-align: center;
    background-color: #F0F0F2;
      opacity: 0.8;
    width:94%;
    margin-right:3%;
    margin-left:3%;
    color:#8E8E8E;

}
div.search{
    background-color: transparent;
}
.fa-search{
position: absolute;
top:30px;
right:5%;
z-index: 999;
font-size: 20px;
color:#8E8E8E;

}
.fa-bars{
  position: absolute;
top:30px;
left:5%;
z-index: 999;
font-size: 20px;
color:#8E8E8E;
}
p.search-content{
  font-size: 11px;
  text-align: justify;
}
div.search-content{
  margin-top:70px;
}

}
