<ion-header color="light">
  <ion-navbar color="light" >
  <ion-grid>
      <ion-row>
      <ion-col col-9>
    <button ion-button menuToggle>
          <img src="../../assets/img/hackerton.png" />
    </button></ion-col>
    <ion-col>
        <button color="buttonColor" class="button-top" (click)="getSignin()" >
          Sign In
        </button>
      </ion-col>
      </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-input [(ngModel)]="Search" class="search-icon" (keyup.enter)="SearchAction()"  placeholder="      Search Location"></ion-input>
  <i (click)="SearchAction()" class="fa fa-search" aria-hidden="true"></i>
  <i class="fa fa-bars" aria-hidden="true"></i>
<div class="search-content" *ngIf="SearchStatus">
  <ion-card>
  <ion-card-content >
    <ion-grid (click)="getReservations()">
        <ion-row>
          <ion-col>
            <img src="http://hotel-express.uk.com/wp-content/uploads/2015/09/Hotel3.jpg?bd6f50" width="80px" height="80px" />
          </ion-col>
           <ion-col>
             <p class="search-content"><strong>Saly</strong><br />
             Find Resturant and Tourist Guide.
             Fishing
             </p>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-card>
</div>
 <div class="wrapper">
<div id="map">

</div>
</div>
</ion-content>
<ion-footer color="light">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      <ion-col>
    <img src="../../assets/img/iamthecode.fw.png" />
      </ion-col>
      <ion-col col-9 >
    <p><strong style="font-size:20px;">iamtheCODE</strong>
    <br />
      Make an impart and donate today
      <br />
      <span style="color:#95D2EA;">DONATE NOW</span>
    </p>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
