<!--
  Generated template for the TouristDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>touristDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<select class="form-item  top-border">
  <option>
Tourist Place Summary
  </option>
</select >
<ion-list>
<ion-item>
Saly
</ion-item>
<ion-item>
Arrival Time: Sunday 14 2017
</ion-item>
<ion-item>
Location Lily Gate
</ion-item>
<ion-item>
Prefered Tourist Guide: Jake Doe
</ion-item>
</ion-list>
<div class="box top-border">
  <h3>Tourist Details</h3>
 <p> Please enter your name as they appear in your identification document</p>
 <input type="text" class="form-item top-border" placeholder="Fullname"  />
<select class="form-item">
  <option>
  Arrival Date
  </option>
</select >
<br />
<select class="form-item">
  <option>
How Many Days Are You Staying
  </option>
</select>
<button ion-button color="buttonColor" full>Complete Process</button>
</div>
<span><img src="../../assets/img/iamthecode.fw.png" width="30px" height="30px" /></span><h2>Terms And Conditions</h2>
<p>Please Note That any form of human trafficking or Fraudulent act will not be tolerated. Any individual suspected of such activity will be
handed over to the police
</p>
</ion-content>
