page-tourist-details {
.button-top{
background-color: #EAD61C;
padding:5px;
}
h2{
font-weight:700;
color:#4F4F4F;
}
p{
font-weight:17px;
color:#848484;
}
select.form-item{
width:100%;
padding:5px;
margin-bottom:14px;
color:#848484;
-webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
input.form-item{
width:100%;
padding:5px;
margin-bottom:14px;
color:#848484;
-webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
div.box{
padding-top:20px;
padding-bottom:20px;
border:solid;
border-width:1px;
border-color:#EFEFEF;
}
.top-border{
border-top:solid;
border-top-width:1px;
border-top-color:#EAD61C;
}
}
