<!--
  Generated template for the Reservations page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="light">

  <ion-navbar  color="light">
    <ion-grid>
      <ion-row>
      <ion-col col-9>
    <button ion-button menuToggle>
          <img src="../../assets/img/hackerton.png" />
    </button></ion-col>
    <ion-col>
        <button color="buttonColor" class="button-top" (click)="getSignin()" >
          Sign In
        </button>
      </ion-col>
      </ion-row>
      </ion-grid>
  </ion-navbar>

</ion-header>
<ion-content >
<img src="http://hotel-express.uk.com/wp-content/uploads/2015/09/Hotel3.jpg?bd6f50" width="100%"  />
<div class="padding">
<h2>Saly</h2>
<p> Find Resturant and Tourist Guides</p>
<div class="box">
<select class="form-item">
  <option>
   Select Nearest Resturant
  </option>
</select >
<br />
<select class="form-item">
  <option>
   Select Nearest Tour Guide
  </option>
</select>
<button ion-button full  color="buttonColor"  (click)="getTourist()">Make Reservations</button>
</div>
<h2>More about Saly</h2>
<p>Find the best places, tourist and tour guides. relax and enjoy in this resort with access to nuture</p>
</div>
</ion-content>
